<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pagina WEB</title>
    <link rel= "stylesheet" href= "https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css\estilos.css">


</head>
<body>
    <nav class= "navbar navbar-dark" style="background-color: #9843a7;"> 
        <a href="/" class="navbar-brand">Colegio</a>
    </nav>